
<!DOCTYPE html>
<html>
     <head>
      <meta charset="utf-8">
         <title>
             Login
         </title>
         {% load bootstrap4 %}
         {% bootstrap_css %}
     </head>
     <body  style="background-size: cover; text-align: center" background="https://www.xtrafondos.com/wallpapers/the-legend-of-zelda-breath-of-the-wild-4065.jpg">
      <form method="POST" action="">
         {% csrf_token%}
         <div>
            <div class ="mx-auto" style="width: 300px;">
              <br>
              <img class="mb-4 rounded-circle" width="75" height="75" src="https://vignette.wikia.nocookie.net/alucardhellsing/images/7/7c/Pentagrama_Alucard.png/revision/latest?cb=20151224053222&path-prefix=es"><br>
              <br>
              <div  class="form-label-group">
                <input type="text"  class=" form-control ds-input border border-dark background-color:red" style="background-color: transparent; text-align: center; color: white;" name="user" placeholder="Usuario" required><br><br>
                <input type="password" class="form-control ds-input border border-dark" style="background-color: transparent; text-align: center; color: white;" name="password" placeholder="Contraseña" required><br><br>             
                <button type="submit" class="form-control ds-input border border-primary" >Iniciar</button><br>
                </div>
               {% if error %}
                  <h1> {{error}} </h1> 
               {%endif%}
            </div>
         </div>     
       </form>
        {% bootstrap_javascript jquery='full' %}
     </body>
     
</html>